
@use "../../global" as *;

.c-background-color {
    color: $textColor_White;
    &__Header   {
        background-color: $bgColor_Header;
    }
    &__SideNav  {
        background-color: $bgColor_SideNav;
    }
    &__CardText {
        background-color: $bgColor_CardText;
    }
    &__MapText  {
        background-color: $bgColor_MapText;
    }
    &__MapImg   {
        background-color: $bgColor_MapImg;
    }
    &__Footer   {
        background-color: $bgColor_Footer;
    }
}