
@use "../../global" as *;

.c-text-size {
    font-size: 16px;
    &--Logo {
        font-size: 64px;
    }
    &--Search {
        font-size: 24px;
        &__button {
            font-size: 16px;
        }
    }
    &--MainTitle {
        font-size: 40px;
    }
    &--MainCard__Title{
        font-size: 80px;
    }
    &--MainCard__TextTitle {
        font-size: 24px;
    }
    &--MainCard__Text {
        font-size: 16px;
    }
    &--MainMap__Title {
        font-size: 36px;
    }
    &--MainMap__Text {
        font-size: 16px;
    }
    &--NavTitle {
        font-size: 34px;
    }
    &--NavMenu {
        font-size: 24px;
    }
    &--NavMenu__Sub {
        font-size: 20px;
    }
    &--Footer__link {
        font-size: 20px;
    }
    &--Footer__copyright {
        font-size: 14px;
    }
}
.c-text-weight {
    font-weight: $textFont_WeightRegular;
    &__Bold {
        font-weight: $textFont_WeightBold;
    }
    &__Regular {
        font-weight: $textFont_WeightRegular;
    }
}
.c-text-text-align {
    &__Center {
        text-align: center;
    }
    &__Right {
        text-align: right;
    }
}
.c-text-color {
    &--Logo {
        color: $textColor_Gray;
    }
    &--MainTitle {
        color: $textColor_White;
    }
    &--MainCard__Title{
        color: $textColor_PGray;
    }
    &--MainCard__TextTitle {
        color: $textColor_Brown;
    }
    &--MainCard__Text {
        color: $textColor_Brown;
    }
    &--MainMap__Title {
        color: $textColor_Brown;
    }
    &--MainMap__Text {
        color: $textColor_White;
    }
    &--NavTitle {
        color: $textColor_Gray;
    }
    &--NavMenu {
        color: $textColor_Gray;
    }
    &--Footer__link {
        color: $textColor_White;
    }
    &--Footer__copyright {
        color: $textColor_White;
    }
}
.c-text-indent {
    &__subMenu {
        text-indent: 16px;
    }
}