$textColor_Gray   : #707070;
$textColor_White  : #FFFFFF;
$textColor_PGray  : #EAEAEA;
$textColor_Brown  : #3C2A10;

$textFont_English : 'Roboto';
$textFont_Japanese: 'M+ 1m';
$textFont_WeightRegular : 400;
$textFont_WeightBold    : 700;


$iconColor_Gray   : #808080;

$linearGradientS  : #F2EDE9;
$linearGradientE  : #DED8D3;

$bgColor_Header   : #FFF7EF;
$bgColor_SideNav  : #F2EDE9;
$bgColor_CardBase : #FFFDFA;
$bgColor_CardText : #FFFFFFCC;
$bgColor_MapText  : #0000004a;
$bgColor_MapImg   : #000000;
$bgColor_Footer   : #9D8670;

$imgOpacity_Map   : 0.6;

$navMenuWidth_PC  : 19vw;
$headerWidth_PC   : 100vw - $navMenuWidth_PC ;

$headerHeight_PC  : 11.3vw;
$footerHeight_PC  : 7.8125vw;
